{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

    <link rel="stylesheet" href="{% static 'index/css/b4.css' %}">
    <script src="{% static 'index/js/b4.js' %}"></script>

{% comment %} ############### AGREGAR PRODUCTOS ########################## {% endcomment %}
    <div id="AgregarPersonalModal" class="modal" style="overflow: scroll;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title text-dark">Agregar nuevo</h5>
                </div>
                <div class="modal-body bg-dark text-white">
                    <form method="POST" action="{% url 'AddProducto' %}" enctype="multipart/form-data">{% csrf_token %}
                        {% for field in form_producto %}
                        <p>{{field.label}} <br>
                            {{field|add_class:"form-control text-dark"}}</p>
                        {% for error in field.errors %}
                        <p class="alarma">{{error}}</p>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <p class="alarma">{{error}}</p>
                        {% endfor %}
                </div>
                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-success">
                        Agregar
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% comment %} ############### EDITAR PRODUCTOS ########################### {% endcomment %}
    <div id="EditarPersonalModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title text-dark">Editar</h5>
                </div>
                <div class="modal-body bg-dark text-white">
                    <form method="POST" action="{% url 'EditProducto' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="id_producto_editar" name="id_producto_editar">
                        {% for field in form_editar %}
                        <p> {{field.label}} <br>
                            {{field|add_class:"form-control"}}</p>
                        {% for error in field.errors %}
                        <p class="alarma">{{error}}</p>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <p class="alarma">{{error}}</p>
                        {% endfor %}
                </div>
                <div class="modal-footer bg-dark text-white">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Volver
                    </button>
                    <button type="submit" class="btn btn-success">
                    Aceptar
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% comment %} ############### ELIMINAR PRODUCTOS ######################### {% endcomment %}
    <div id="EliminarPersonalModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title text-dark">Eliminar</h5>
                </div>
                <div class="modal-body bg-dark text-white">
                    <p class="labelmodal">¿Estás seguro?</p>
                    <form method="POST" action="{% url 'DeleteCliente' %}">
                        {% csrf_token %}
                        <input type="hidden" id="id_personal_eliminar" name="id_personal_eliminar">
                </div>
                <div class="modal-footer bg-dark text-white">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Volver
                    </button>
                    <button type="submit" class="btn btn-success">
                    Aceptar
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% comment %} ############### MOSTRAR PRODUCTOS  ######################### {% endcomment %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Productos   <i class="fas fa-boxes"></i></h3>
            <div class="col-md-3 pb-2">
                <a href="#AgregarPersonalModal" data-toggle="modal" data-dismiss="modal">
                    <button type="button" class="btn btn-success">
                        Agregar Producto
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </a>
            </div>

            <div class="card card-body" style="overflow:scroll">
                <table class="table table-hover table-primary" id="myTable">
                    <thead>
                        <tr>
                            <th># ID</th>
                            <th>Código</th>
                            <th>Descripcion</th>
                            <th>Imagen</th>
                            <th>Cantidad</th>
                            <th>Costo Unitario</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        {% for i in productos %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.codigo}}</td>
                            <td>{{i.descripcion}}</td> 
                            {% if i.imagen %}
                                <td><img width="50" src="{{i.imagen.url}}" alt="producto-{{i.id}}"></td>
                            {%else%}
                                <td></td>
                            {% endif %} 
                            <td>{{i.cantidad}}</td>
                            <td>{{i.costo}}</td>
                            <td>
                                <button onclick="editarProducto( '{{i.id}}', '{{i.codigo}}' , '{{i.descripcion}}' , '{{i.cantidad}}' , '{{i.costo}}' )" class="btn btn-dark-outline btn-sm" data-toggle="modal" href="#EditarPersonalModal"> <img src="{% static 'index/img/editar.png' %}" alt="Error" width="30"> </button>
                                <button onclick="" class="btn btn-dark-outline btn-sm" data-toggle="modal" href="#EliminarPersonalModal"><img src="{% static 'index/img/delete.png' %}" alt="Error" width="30"> </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <h2>Productos totales : {{num_productos}}</h1>
    </div>

{% comment %} ############### MENSAJES DE ERROR ######################## {% endcomment %}
    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Error...',
                    text: "{{message}}",
                })
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}
